@import '~@fluentui/react/dist/sass/References.scss';


.progressStep_title{
  margin: 0;
  padding-bottom: 14px;
}
.progress {
    width: 100%;
    display: table;
    table-layout: fixed;
    padding: 0;
    margin: 0;
  }
  .progress__step {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    position: relative;
  }
  .progress__step__active{
    display: table-cell;
    text-align: center;
    vertical-align: top;
    position: relative;
  }
  .progress__step__active::before {
    content: "";
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0 auto;
  }
  .progress__step::before {
    content: "";
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0 auto;
  }
  .progress__step:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 1.3em;
    left: -50%;
    width: 100%;
    height: .4em;
    z-index: -1;
  }
  
  .progress--counter .progress__step {
    counter-increment: step-number;
    font-weight: bold;
    line-height: 3em;
  }
  .progress--counter .progress__step::before {
    content: counter(step-number);
  }
  
  /* demo styles 
  ------------------------------------------------- */
  body {
    font: 13px/1.5 Arial;
  }
  h2 {
    margin-top: 2em;
  }
  
  /* steps before the active step */
  .progress__step::before, .progress__step::after {
    background-color: rgb(53, 58, 64);
  }
  .progress__step::before {
    background-color:#18ac47; 
    box-shadow: inset 0 0 0 3px  rgb(186, 227, 187);
  }
  
  /* steps after the active step */
  .progress__step__active ~ .progress__step::before {
    background-color: rgb(153, 164, 168);
    box-shadow: inset 0 0 0 3px rgb(157, 161, 164);
  }
  .progress__step__active ~ .progress__step::after {
    background-color: #ccc
  }
  
  /* the active step */
  .progress__step__active::before {
    background-color: #c2cd26;
    box-shadow: 0 0 3px 1px  rgb(228, 233, 190);
  }
  .progress__step__active {
    color: rgb(137, 146, 162);
  }
  
  /* variants
  ------------------------------------------ */
  
  .demo--1 {
    
  }
  